@import "bootstrap.scss";
@import "login.scss";

.navbar-dark {
	background:#3498db !important;
}

* {
	box-sizing: border-box;
}

/*Login Page*/
.card.card-container {
padding:5%;
background-color:#f7f7f7;
margin:5% auto;
max-width:420px;
width:100%;
text-align: center;
box-shadow: 0px 0px 20px #ecf0f1;

.form-signin input {
margin:1% 0px;
}

img {
	margin:5px auto;
	border-radius:50%;
	width:100%;
	max-width:100px;
	box-shadow:0px 0px 8px #888888;
}

}

table {
	overflow:auto;
	text-overflow: ellipsis;
}
